/*	::::::::mike fortuna portfolio v2.1::::::::::::::: 
	author ninjamike, ninjastack 
	::::::::::::::2013:::::::::::::
*/
body { color:#323a45;}
.bg1, .bg2, .bg3, .bg4, .bg5 { 
	-o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 1s ease-in;  }

.bg1 { background-color:#c52727; height:100%; width:100%; position:fixed; left:0; }
.bg2 { background-color:#5fbaf3; height:100%; width:100%; position:fixed; left:0; }
.bg3 { background-color:#f3a85f; height:100%; width:100%; position:fixed; left:0; }
.bg4 { background-color:#f1f35f; height:100%; width:100%; position:fixed; left:0; }
.bg5 { background-color:#aff35f; height:100%; width:100%; position:fixed; left:0; }

h1, h2, h3, h4, h5, p { font-weight:normal; font-family: Helvetica, serif; }
h2 { font-size:50px; line-height:60px; }
p { font-size:30px; line-height:36px; font-family:Helvetica, serif;}
a { font-family:Helvetica, serif; }
#third h2, #third p { color:#2B2B2B; }
.bg4 h2, .bg4 p, .bg4 h2, .bg4 p { color:#000; }

.contain { margin: 130px 0px 10px 100px; width: 82%; }
#second .contain { margin: 150px 0 10px 100px; }
#third .contain { margin: 90px 0 10px 100px; }
#fourth .contain { margin: 230px 0 10px 100px; }

.contain img { border:8px solid #fff; cursor:pointer;
-webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -ms-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease;}
.contain img:hover { opacity:0.5;}

.next { box-shadow:1px 1px 1px rgba(104, 104, 104, 0.65); line-height:40px; background:#fff; color:#000; font-size:30px; padding:30px; text-align:center;}
.row-fluid { margin-bottom:10px;}
.next.normal {
position: absolute;
left: 50%;
bottom: 32%;
}
.next.redpill, .next.bluepill { margin:30px 10px;}
.next.redpill {
	border-radius:0px;
background-color:#f35f5f;

}
.next.bunny:focus, .next.bunny:active { 
	  -webkit-animation-name: spin;
    -webkit-animation-duration: 200ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 200ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 200ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(160deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(160deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(160deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(160deg);
    }
}
.next.bunny:hover { 
  -webkit-animation-name: spin;
    -webkit-animation-duration: 200ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 200ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 200ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(160deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(160deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(160deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(160deg);
    }
}
.next.redpill:hover { color:#ffa9a9; border-radius:80px;}
.next.bluepill:hover { color:#a9d3ff; border-radius:80px;}
.next.bluepill {
	border-radius:0px;
	background-color:#5facf3;
}
.main-pic { border-radius:30px; height:300px; margin:-200px 0 -40px 0; }
.next.great { box-shadow:none; position:absolute; right:10%; bottom:25%; background-color:transparent; }
.next.great.bunny { bottom:20%; }
.next.great img { border:none !important; }
.modal-title { font-size:25px;}
.modal-body { max-height:100%; text-align:center;}
.modal img { margin-bottom:10 px;}
.popover { border-radius:0px;}
.popover-title { background:#fff;}
.modal.fade.in { top:2080px; max-height:700px; overflow-x:auto; }
.modal {
position: absolute;
left: 45%;
z-index: 9999999;
width: 51%;
margin-left: -280px;
background-color: #ffffff;
border: 1px solid #999;
border: 1px solid rgba(0, 0, 0, 0.3);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 0px;
-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
outline: none;
}
.me-pic {
background: url(/img/me.jpg);
height: 220px;
width: 220px;
display: block;
margin: 0 auto;
background-position: 0;
border-radius: 220px;
background-size: cover;
border: 2px solid #fff;
}
.header { background: #fff; position: fixed; z-index: 9999; width: 100%; padding:2px 0; border-bottom:12px solid #1fbba6;}
.home-logo { background:url(/img/logo.png); height:40px; width:82px; margin:0 40px;}
.header .email { color:#000; font-size:20px; margin:12px 5px;}
.header .email:hover { color:#fff; }
.story { height: 990px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; border-top: 1px solid #323a45; border-bottom: 1px solid rgba(0,0,0,0.4); }

#first { background: url(/images/geometry.png) ; }
#second { background: #fff;  }
#fourth { background: url(/images/geometry.png);  }
#third { background: url(/images/geometry.png);  }
#theend { background: #fff; height:200px;  }
#theend h2 { font-size:35px;}

.btn-mf {
border:2px dashed #fff;
background-image: none;
background-color: #1fbba6;

border-radius: 0px;
font-size: 30px;
padding: 20px 30px;
margin-top: 20px;
color: #fff;
text-shadow: none;
}

a:hover { color:#1fbba6;}
html::selection {
  background: #1fbba6; /* Safari */
  }
html::-moz-selection {
  background: #1fbba6; /* Firefox */
}
p::selection, h1::selection, h2::selection, h3::selection {
    background: #1fbba6;
}

.header a i:hover { color:#1fbba6;}
.btn-mf:hover { background-color: #1fbba6; color:#000;}
#third a { color:#000; font-size:45px; line-height:55px;}
.work-list i { color:#ECF0F1; font-size:30px; margin-top:10px; margin-right:10px;}
#third li a {  display:inline-block;
   height: 100%;
   width: 100%; 
border:2px solid transparent;}
#third li:hover { background:#1fbba6; }
#third a:hover { color:#fff; border:2px dashed #fff;}

/* Introduction */
#first .smashinglogo { background: url(/images/smashing-logo.png) 50% 100px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#first article { width: 100%; top: 300px; position: absolute; text-align: center; }
#first article p,
#first article a { color: #BDC3C7 ; }
#first article a { text-decoration: underline; }
#first article a:hover { color: #fff; }
#first h2 { font:900 90px/100px "Helvetica Neue", Helvetica, Arial, sans-serif; }
#first p { color: #BDC3C7 ; }

/* Background Only */
#second { padding: 10px 0;}
#second article { background: url(/images/grain.png) repeat #333; color: #fff; width: 445px; margin-left: 100px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }
#second article p { margin-bottom: 25px; }
#second article a { color: #ff0;}

.byebye h2 { color: #000; }

/* Photograph */
#third article {  background: url(/images/grain.png) repeat #333; color: #fff; padding: 10px 20px; margin: 100px 0 0 60%; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; color: #fff; position: absolute; top: 0; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }
#third .photograph { background: url(/images/photo.png) transparent 40% 100px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#third .photograph2 { background: url(/images/photo.png) transparent 40% 100px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#third article p { width: 300px; margin-bottom: 25px; }

/* HTML5 Video */
#fourth article {  margin-left: 10%; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; color: #fff; position: absolute; top: 0; }
#fourth article p { width: 300px; margin: 50px 0; }
#fourth video { position: fixed; left: 50%; box-shadow: 0 0 25px rgba(0,0,0,0.7); z-index: 1;}

/* The End */
/*#theend .byebye { opacity:0.7; background: url(/images/theend.png) 40% 100px no-repeat fixed; height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }*/
#theend .byebye:hover { opacity:1; }