@charset 'utf-8';
@import '../../node_modules/foundation-sites/scss/foundation';
@include foundation-grid;
@include foundation-flex-classes;
@include foundation-flex-grid;


@import "reset";
@import "config";
@import "bourbon/bourbon";
@import "neat/neat";
@import "grid-settings";
@import "typography";
@import "helpers";



$base-margin:2em;
.page-bg {
	padding-left: 1em;
	padding-right: 1em;
}




a {
	color: $base-logo-link-color;
	text-decoration: none;
	border-bottom: 1px solid $base-font-color;

	&:hover {
		color: $base-logo-hover-link-color;
		border-color: $base-logo-hover-link-color;
	}

	&:active, &:focus {
		color: $base-logo-hover-link-color;
		border-color: $base-logo-hover-link-color;
	}
}
.margin-top {
	margin-top:$base-margin;
}

a:hover {
	color: $base-accent-color;
}
h1, h2, p {
	user-select: none;
}

h2 {
	text-transform: uppercase;
	font-weight: bold;
	color: $base-accent-color;
	margin-bottom: 0.05em;
}

h2 a {
	margin:0 0.3em;
	&:hover {
		color:#21ab27;
	}
}
header {

	@include outer-container;

	margin-top: 4em;
	border-top: $header-border;

	@include media($mobile) {
		margin-top: 2em;
	}

	opacity: 0;
	@include transform(translateY(50px));
	@include transition(all 1200ms ease);
	@include transition-delay(50ms);

	#logo-container {
		/* @include span-columns(6); */


		@include display-box();
		@include justify-content(space-around);
		@include align-items(center);

		@include display(flex);
		@include flex-flow(row wrap);
		// @include justify-content(flex-start);

		@include media($mobile) {
			@include span-columns(4);
		}


	}


	nav {

		text-align: center;
		// @include span-columns(1);
		@include justify-content(space-around);
		@include align-items(center);

		@include media($mobile) {
			text-align: left;
			margin-top: 1em;
			@include span-columns(1);
		}
		ul {

			padding-top: 0.5em;
			line-height: 60px;

			li {
				display: inline-block;
				margin-left: 1em;

				@include media($mobile) {
					margin-left: 0;
					margin-right: 1em;
				}

				a {
					font-weight: bold;
				}

				a.bordered {
					border-radius: 0.2em;
					padding: 0.4em;
					padding-left: 0.8em;
					padding-right: 0.8em;
					border: $header-border;
				}
			}
		}
	}

}

#content {

	@include outer-container;
	// padding-bottom: 2em;

	opacity: 0;
	@include transform(translateY(50px));
	@include transition(all 1200ms ease);
	@include transition-delay(350ms);

	section.intro {

		@include display(flex);
		@include flex-flow(column wrap);
		@include justify-content(center);
		@include align-content(center);
		@include align-items(center);

		// margin-bottom: 5em;

		@include media($mobile) {
			// margin-bottom: 1em;
		}

		h1 {
			font-size: 8em;
			/* border-top: $heading-border; */
			letter-spacing: -0.05em;
			margin-top: 0.1em;
			// margin-bottom: 1em;

			@include media($mobile) {
				font-size: 4em;
				line-height: 1.2em;
				padding-top: 0.4em;
			}

			span.nl {
				display: none;

				@include media($mobile) {
					display: block;
				}
			}
		}

		p {
			font-size: 2.0em;
			line-height: 1.5em;
			letter-spacing: 0.02em;
			margin-bottom: 0;
			text-align: center;
		}
	}

	section.row {

		@include outer-container;
		padding-top: 2em;
		padding-bottom: 5em;


		p {
			font-size: 1.2em;
			line-height: 1.6em;
			&.small {
				font-size:11px;
			}
		}

		.col,.col-full {
			@include span-columns(6);
			border-top: $section-border;
			padding-top: 1em;
			padding-bottom: 3em;

			@include media($mobile) {
				@include span-columns(4);
			}
		}

		.col-full {
			@include span-columns(12);
			@include media($mobile) {
				@include span-columns(4);
			}
		}
	}

	.photo-grid {

		@include display(flex);
		@include flex-flow(row wrap);
		@include justify-content(space-between);

		.item-link {
			text-align: center;
			margin: 0 auto;
			display: block;
			font-size:20px;
			margin-bottom: 20px;
			margin-top: 10px;
			padding: 10px 0;
			width: 100%;

			@include transition(all 0.5s ease-in-out);
			&:hover {
				background:$base-accent-color;
				color:#fff;
			}
		}

		a {
			margin-bottom: 20px;
			border: none;
			text-decoration: none;
		}

		.col-1 {
			width: 100%;
		}

		.col-2 {
			width: 49%; width: calc(50% - 12px);
		}

		.col-3 {
			width: 32%; width: calc(33.33333% - 16px);
		}

		@include media($mobile) {
			a {
				margin-bottom: 10px;
			}

			.col-2 {
				width: 100%;
			}
		}
	}
}

a.photo-item {
	position:relative;
	&.fluidbox {
		margin:0;
		padding:0;
	}
	&:hover {
		div.caption {
			opacity:1;
		}
	}
	div.caption {
		position:absolute;
		bottom: 5px;
		right: 0;
		left: 0;
		text-align: center;
		padding:25px 0 10px;
		opacity:0;
		background:$base-accent-color;
		@include transition(all 0.1s ease-in-out);
		p {
			font-size:14px;
			color:#fff;
		}
		h2 {
			font-size:30px;
			color:#fff;
		}
	}
}


.loaded {

	header {

		@include transform(none);
		opacity: 1;
	}

	#content {


		@include transform(none);
		opacity: 1;

	}
}
