<div class="container mf-spacer--padding-top-huge-4" *ngIf="currentPost as post">
    <div class="row">
        <div class="column">
            <h1>{{ data[currentPost].name }}</h1>
            <p>{{ data[currentPost].date }}</p>
        </div>
    </div>
    <!-- <div class="row">
        <div class="column">
            <div *ngFor="let c of data[currentPost].content">
                <h2>{{ c.content.title }}</h2>
                <p>{{ c.content.paragraph }}</p>
            </div>
        </div>
    </div> -->
</div>

