<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="mikefortuna">
<head>
	<meta charset="utf-8" />
	<title>mikefortuna</title>

	<!-- Styles -->
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/style/bootstrap-ns.css" />
	<link rel="stylesheet" type="text/css" href="/style/mf.css" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body ng-controller="TopCtrl">
	<div id="main" >
		<div class="header">
			<a class="home-logo pull-right" href="#first"> </a>
			<a class="pull-right email" target="_blank" href="mailto:m@ninjastack.com"><i class="icon-envelope"></i></a>
			<a class="pull-right email" target="_blank" href="https://bitbucket.org/ninjamike"><i class="icon-bitbucket"></i></a>
			<a class="pull-right email" target="_blank" href="https://github.com/m4tuna"><i class="icon-github"></i></a>
		</div>

		<!-- Section #1 / Intro -->
	<section id="first" class="story" data-speed="8" data-type="background">    		
		<div class="contain">
			<h2><i class="icon-male"></i> Hi, I'm Mike</h2>	
			<p>I'm a web <span id="rotate">designer</span></p>
			<a href="#third">view my work</a>
			<img class="main-pic pull-right me" src="/img/me.jpg"> 
			<a class="next normal span5" href="#second">begin to believe</a>
		</div>
	</section>

	<!-- Section #2 / Background Only -->
	<section id="second" class="story" data-speed="4" data-type="background">
		<div class="contain">
			<h2><i class="icon-laptop"></i> What I do</h2>
			<p>I have a BA in Media Graphics from St. John's University and have been making cool sites and apps for some time now. I make applications and websites that are responsive to web, tablet and mobile using HTML5, CSS3 and Javascript. Unfortunately, no one can be told what the Matrix is. You have to see it for yourself.</p>
			<a class="next bluepill span4" href="#first">blue pill</a>
			<a class="next redpill span4" href="#third">red pill</a>
		</div>
	</section>
	<!-- Section #3 / Photos -->
	<section id="third" class="story" data-speed="6" data-type="background" data-offsetY="250">
		<div class="contain">
			<h2><i class="icon-briefcase"></i> Recent work</h2>
			<p>Hover to learn, click to see.</p>
	    	<div class="row-fluid">
	    	<div class="span2 popit" data-toggle="popover" data-trigger="hover" title="" data-placement="top" data-content="College Battle of the bands is a nation-wide college band contest. We rebuilt this site using NodeJS, AngularJS and Firebase. Responsive Design, HTML5, CSS3" data-original-title="CBOB">
				<a class="modal-pop" data-toggle="modal" data-target="#cbobModal"><img src="/img/cbob.png"></a>
			</div>
			<div class="span2 popit" data-toggle="popover" data-trigger="hover" title="" data-placement="top" data-content="Causio is a web app myself and team causio created for the Paypal Hackathon in July '13. The application helps people track their volunteering engagements and donate to causes. We won the Twilio award. Design, HTML5, CSS3, JS" data-original-title="Causio">
				<a class="modal-pop" data-toggle="modal" data-target="#causioModal"><img src="/img/causio.png"></a>
			</div>
			<div class="span2 popit" data-toggle="popover" data-trigger="hover" title="" data-placement="top" data-content="Ktchn is a web app I created for the Trist.it Hackathon in July '13. The application helps people track their kitchen inventory and create recipes based on what they have. It won 4th place. Design, HTML5, CSS3, JS" data-original-title="Ktchn">
				<a class="modal-pop" data-toggle="modal" data-target="#ktchnModal"><img src="/img/ktchn.png"></a>
			</div>
			<div class="span2 popit" data-toggle="popover" data-trigger="hover" title="" data-placement="top" data-content="Exemplifi is a web app myself and team exemplifi created for the Spotify Hackathon in June '13. The application helps teachers create lesson plans over music. We came in first place. Design, HTML5, CSS3, JS" data-original-title="Exemplifi">
				<a class="modal-pop" data-toggle="modal" data-target="#exemplifiModal"><img src="/img/exemplifi.png"></a>
			</div>
			<div class="span2 popit" data-toggle="popover" data-trigger="hover" title="" data-placement="top" data-content="CampusDJ is a nation-wide tour/competition that awards the best college DJ at the end of each season. Responsive Design, HTML5, CSS3" data-original-title="CampusDJ.com">
				<a class="modal-pop" data-toggle="modal" data-target="#cdjModal"><img src="/img/cdj.png"></a>
			</div>
			<div class="span2 popit" data-toggle="popover" data-trigger="hover" title="" data-placement="top" data-content="Designed the views for this new website; Stunner of the month. Design" data-original-title="Stunner of the Month">
				<a class="modal-pop" data-toggle="modal" data-target="#stunnerModal"><img src="/img/stunneri.png"></a>
			</div>
		</div>
		<div class="row-fluid">

			<div class="span2 popit" data-toggle="popover" data-trigger="hover" title="" data-placement="top" data-content="I created the idea for Sharetuna a few years ago and it was a collection of live music videos using Wordpress as a backend with a custom front-end. Design, HTML, CSS" data-original-title="Sharetuna">
				<a class="modal-pop" data-toggle="modal" data-target="#sharetunaModal"><img src="/img/sharetuna.png"></a>
			</div>

			<div class="span2 popit" data-toggle="popover" data-trigger="hover" title="" data-placement="top" data-content="I designed this FB quiz application for Playstation's Uncharted 3 promotion. Design, HTML, CSS" data-original-title="Uncharted 3 FB App">
				<a class="modal-pop" data-toggle="modal" data-target="#uc3Modal"><img src="/img/UC3.png"></a>
			</div>
		</div>
			<a class="next great span5 bunny" href="#fourth"><img src="/img/bunny.png"></a>
		</div>
	</section>	
	

	<!-- Section #4 / HTML5 Video -->
	<section id="fourth" class="story" data-speed="8" data-type="background" data-offsetY="250">
		<div class="contain">
			<h2><i class="icon-cogs"></i> What's this stuff made of?</h2>
			<p>I'm glad that you asked, I work on the front-end; rapid prototyping using nodeJS and angularJS and make all sorts of cool responsive applications for web, tablet and mobile with the help of my awesome team <a href="http://ninjastack.com">NinjaStack</a>. We work at the most badass coworking space on the planet called <a target="_blank" href="http://alleynyc.com/">@AlleyNYC</a>.</p>
				<a class="next great span5" href="#theend"><img src="/img/glasses.png"></a>
			</div>
	</section>	

	<!-- Section #5 / The End-->
	<section id="theend" class="story" data-speed="8" data-type="background" data-offsetY="250">    	
		<a href="#first">t
			<div class="byebye" data-type="sprite" data-offsetY="-1600" data-Xposition="50%" data-speed="-2"></div>
		</a>
	</section>
	
  </div> <!-- // End of #main -->
		<!-- View Container -->

		<div class="footer hide">
			<ul class="inline">
				<!-- Footer Links -->
				<li><small class="pull-left">Copyright <%= (new Date()).getFullYear() %> NinjaStack, Inc.</small></li>
			</ul>
		</div>
	</div>

  <!-- Modal -->
  <div class="modal hide fade" id="exemplifiModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Exemplifi</h4>
        </div>
        <div class="modal-body">
        	<a target="_blank" href="http://exemplifi.org">exemplifi.org</a>
        	<img src="/img/exemplifi2.png">
          <img src="/img/exemplifi1.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal -->
  <div class="modal hide fade" id="cdjModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Campus DJ</h4>
        </div>
        <div class="modal-body">
        	<a target="_blank" href="http://campusdj.com">campusdj.com</a>
        	<img src="/img/cdj1.png">
          <img src="/img/cdj2.png">
          <img src="/img/cdj3.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

 <!-- Modal -->
  <div class="modal hide fade" id="stunnerModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Stunner of the Month</h4>
        </div>
        <div class="modal-body">
        	<img src="/img/stunner.png">
          <img src="/img/stunner-2.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

   <!-- Modal -->
  <div class="modal hide fade" id="causioModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Causio</h4>
        </div>
        <div class="modal-body">
        	<a target="_blank" href="http://caus.io">caus.io</a>
        	<img src="/img/causio2.png">
          <img src="/img/causio1.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


 <!-- Modal -->
  <div class="modal hide fade" id="ktchnModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Ktchn</h4>
        </div>
        <div class="modal-body">
        	<a target="_blank" href="http://ktchn.herokuapp.com/">ktchn.com</a>
          <img src="/img/ktchn1.png">
          <img src="/img/ktchn2.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


 <!-- Modal -->
  <div class="modal hide fade" id="uc3Modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Uncharted 3</h4>
        </div>
        <div class="modal-body">
          <img src="/img/UC3.jpg">
          <img src="/img/UC3a.png">
          <img src="/img/UC3b.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

 <!-- Modal -->
  <div class="modal hide fade" id="sharetunaModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Sharetuna</h4>
        </div>
        <div class="modal-body inline">
          <img src="/img/sharetuna.png">
          <img src="/img/sharetunaA.png">
          <img src="/img/sharetunaB.png">
          <img src="/img/sharetunaC.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

   <!-- Modal -->
  <div class="modal hide fade" id="cbobModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">CBOB</h4>
        </div>
        <div class="modal-body inline">
          <img src="/img/cbob-1.png">
          <img src="/img/cbob-2.png">
          <img src="/img/cbob-3.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


	<!-- External Scripts -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" type="text/javascript" ></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js" type="text/javascript" ></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js" type="text/javascript" ></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js" type="text/javascript" ></script>
	<script type="text/javascript" src="/script/angular-resource.js"></script>

	<!-- NS Scripts -->
	<script type="text/javascript" src="/script/ns-services.js"></script>
	<script type="text/javascript" src="/script/ns-filters.js"></script>
	<script type="text/javascript" src="/script/ns-directives.js"></script>
	<script type="text/javascript" src="/script/ns-app.js"></script>
	<script src="/script/parallax.js"></script>

	<script type="text/javascript">
	$('a').click(function() {
		var elementClicked = $(this).attr("href");
		var destination = $(elementClicked).offset().top;
		$("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination-15}, 500 );
		return false;
	});
	var terms = ["designer", "developer", "coder", "entrepreneur", "application maker", "pioneer", "architect", "carpenter", "assembler", "facilitator", "genius", "ninja"];

	function rotateTerm() {
		var ct = $("#rotate").data("term") || 0;
		$("#rotate").data("term", ct == terms.length -1 ? 0 : ct + 1).text(terms[ct]).fadeIn()
		.delay(1000).fadeOut(100, rotateTerm);
	}
	$(rotateTerm);
	</script>
	<script>
	$('.popit').popover();
	$('.modal-pop').modal(options);
	</script>
</body>
</html>