<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="mikefortuna">
<head>
	<meta charset="utf-8" />
	<title>mikefortuna</title>
  <meta name="description" content="Mike Fortuna is a front end web developer in NYC.">

	<!-- Styles -->
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/style/bootstrap-ns.css" />
	<link rel="stylesheet" type="text/css" href="/style/mf.css" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body ng-controller="TopCtrl">
	<div id="main" >
		<div class="header">
			<a class="home-logo pull-right" href="#first"> </a>
			<a class="pull-right email" target="_blank" href="mailto:m@ninjastack.com"><i class="icon-envelope"></i></a>
			<a class="pull-right email" target="_blank" href="https://bitbucket.org/ninjamike"><i class="icon-bitbucket"></i></a>
			<a class="pull-right email" target="_blank" href="https://github.com/m4tuna"><i class="icon-github"></i></a>
		</div>

		<!-- Section #1 / Intro -->
	<section id="first" class="story" data-speed="8" data-type="background">    		
		<div class="contain centered">
			<h2>mike fortuna</h2>	
			<p>Web <span id="rotate">designer</span></p>
			<a class="btn btn-mf" href="#second">always be makin shit <i class="icon-arrow-down"></i></a>
		</div>
	</section>

	<!-- Section #2 / Background Only -->
	<section id="second" class="story" data-speed="4" data-type="background">
		<div class="contain">
			<h2>some background</h2>
			<p>I've been designing for the web since 2006. I graduated St. John's University in 2010 where I learned design principles. After various jobs in web design and building my knowledge of CSS, HTML and Javascript; I began to learn more and self teach. Currently, I work with <a href="http://ninjastack.com" target="_blank">NinjaStack</a> making applications and websites that are responsive to web, tablet and mobile built using NodeJS and AngularJS. I am currently self-learning Javascript for use in different MVC frameworks, in hopes of becomming an Object-oriented Programmer someday.</p>
			<a class="btn-mf btn" href="#third">show me  <i class="icon-arrow-down"></i></a>
		</div>
	</section>
	<!-- Section #3 / Photos -->
	<section id="third" class="story" data-speed="6" data-type="background" data-offsetY="250">
		<div class="contain">
			<h2>some recent work</h2>
      <p>many more available upon request =)</p>
      <ul class="half-top">
        <li><a target="_blank" href="http://ninjastack.com">ninjastack <i class="pull-right icon-external-link"></i></a> 
        <li><a target="_blank" href="http://colorof.com">color of <i class="pull-right icon-external-link"></i></a>
        <li><a target="_blank" href="http://collegebattleofthebands.com">college battle of the bands <i class="pull-right icon-external-link"></i></a>
        <li><a target="_blank" href="http://campusdj.com">campusdj <i class="pull-right icon-external-link"></i></a>
        <li><a target="_blank" href="http://mtndb.com">mtndb <i class="pull-right icon-external-link"></i></a>
        <li><a target="_blank" href="http://exemplifi.org">exemplifi <i class="pull-right icon-external-link"></i></a>
      </ul>
		</div>
	</section>	
	

	<!-- Section #4 / HTML5 Video 
	<section id="fourth" class="story" data-speed="8" data-type="background" data-offsetY="250">
		<div class="contain">
			<h2><i class="icon-cogs"></i> What's this stuff made of?</h2>
			<p>I'm glad that you asked, I work on the front-end; rapid prototyping using nodeJS and angularJS and make all sorts of cool responsive applications for web, tablet and mobile with the help of my awesome team <a href="http://ninjastack.com">NinjaStack</a>. We work at the most badass coworking space on the planet called <a target="_blank" href="http://alleynyc.com/">@AlleyNYC</a>.</p>
				<a class="next great span5" href="#theend"><img src="/img/glasses.png"></a>
			</div>
	</section>	-->

	<!-- Section #5 / The End-->
	<section id="theend" class="story" data-speed="8" data-type="background" data-offsetY="250">    	
			<div class="byebye" data-type="sprite" data-offsetY="-1600" data-Xposition="50%" data-speed="-2"><h2 class="centered half-top">Thanks for inquiring. <a href="#first">go back to the top</a> or <a href="mailto:m@ninjastack.com">send me an email</a>.</h2></div>
	</section>
	
  </div> <!-- // End of #main -->
		<!-- View Container -->

		<div class="footer hide">
			<ul class="inline">
				<!-- Footer Links -->
				<li><small class="pull-left">Copyright <%= (new Date()).getFullYear() %> NinjaStack, Inc.</small></li>
			</ul>
		</div>
	</div>

  <!-- Modal -->
  <div class="modal hide fade" id="exemplifiModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Exemplifi</h4>
        </div>
        <div class="modal-body">
        	<a target="_blank" href="http://exemplifi.org">exemplifi.org</a>
        	<img src="/img/exemplifi2.png">
          <img src="/img/exemplifi1.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal -->
  <div class="modal hide fade" id="cdjModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Campus DJ</h4>
        </div>
        <div class="modal-body">
        	<a target="_blank" href="http://campusdj.com">campusdj.com</a>
        	<img src="/img/cdj1.png">
          <img src="/img/cdj2.png">
          <img src="/img/cdj3.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

 <!-- Modal -->
  <div class="modal hide fade" id="stunnerModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Stunner of the Month</h4>
        </div>
        <div class="modal-body">
        	<img src="/img/stunner.png">
          <img src="/img/stunner-2.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

   <!-- Modal -->
  <div class="modal hide fade" id="causioModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Causio</h4>
        </div>
        <div class="modal-body">
        	<a target="_blank" href="http://caus.io">caus.io</a>
        	<img src="/img/causio2.png">
          <img src="/img/causio1.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


 <!-- Modal -->
  <div class="modal hide fade" id="ktchnModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Ktchn</h4>
        </div>
        <div class="modal-body">
        	<a target="_blank" href="http://ktchn.herokuapp.com/">ktchn.com</a>
          <img src="/img/ktchn1.png">
          <img src="/img/ktchn2.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


 <!-- Modal -->
  <div class="modal hide fade" id="uc3Modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Uncharted 3</h4>
        </div>
        <div class="modal-body">
          <img src="/img/UC3.jpg">
          <img src="/img/UC3a.png">
          <img src="/img/UC3b.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

 <!-- Modal -->
  <div class="modal hide fade" id="sharetunaModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Sharetuna</h4>
        </div>
        <div class="modal-body inline">
          <img src="/img/sharetuna.png">
          <img src="/img/sharetunaA.png">
          <img src="/img/sharetunaB.png">
          <img src="/img/sharetunaC.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

   <!-- Modal -->
  <div class="modal hide fade" id="cbobModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">CBOB</h4>
        </div>
        <div class="modal-body inline">
          <img src="/img/cbob-1.png">
          <img src="/img/cbob-2.png">
          <img src="/img/cbob-3.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


	<!-- External Scripts -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" type="text/javascript" ></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js" type="text/javascript" ></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js" type="text/javascript" ></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js" type="text/javascript" ></script>
	<script type="text/javascript" src="/script/angular-resource.js"></script>

	<!-- NS Scripts -->
	<script type="text/javascript" src="/script/ns-services.js"></script>
	<script type="text/javascript" src="/script/ns-filters.js"></script>
	<script type="text/javascript" src="/script/ns-directives.js"></script>
	<script type="text/javascript" src="/script/ns-app.js"></script>
	<script src="/script/parallax.js"></script>

	<script type="text/javascript">
	$('a').click(function() {
		var elementClicked = $(this).attr("href");
		var destination = $(elementClicked).offset().top;
		$("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination-15}, 500 );
		return false;
	});
	var terms = ["designer", "developer", "coder", "entrepreneur", "application maker", "pioneer", "architect", "carpenter", "assembler", "facilitator", "genius", "ninja"];

	function rotateTerm() {
		var ct = $("#rotate").data("term") || 0;
		$("#rotate").data("term", ct == terms.length -1 ? 0 : ct + 1).text(terms[ct]).fadeIn()
		.delay(1000).fadeOut(100, rotateTerm);
	}
	$(rotateTerm);
	</script>
	<script>
	$('.popit').popover();
	$('.modal-pop').modal(options);
	</script>
</body>
</html>