<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="mikefortuna">
<head>
	<meta charset="utf-8" />
	<title>mikefortuna</title>
  <meta name="description" content="Mike Fortuna is a front end web developer in NYC.">

	<!-- Styles -->
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/style/bootstrap-ns.css" />
	<link rel="stylesheet" type="text/css" href="/style/mf.css" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body ng-controller="TopCtrl">
	<div id="main" >
		<div class="header">
			<a class="home-logo pull-right" href="#first"> </a>
			<a class="pull-right email" target="_blank" href="mailto:m@ninjastack.com"><i class="fa fa-envelope"></i></a>
			<a class="pull-right email" target="_blank" href="https://bitbucket.org/ninjamike"><i class="fa fa-bitbucket"></i></a>
			<a class="pull-right email" target="_blank" href="https://github.com/m4tuna"><i class="fa fa-github"></i></a>
		</div>

		<!-- Section #1 / Intro -->
	<section id="first" class="story" data-speed="8" data-type="background">    		
		<div class="contain centered">
      <div class="me-pic"></div>
			<h2>mike fortuna</h2>	
			<p>web <span id="rotate">designer</span></p>
			<a class="btn btn-mf" href="#second">learn more <i class="fa fa-arrow-down"></i></a>
		</div>
	</section>

	<!-- Section #2 / Background Only -->
	<section id="second" class="story" data-speed="4" data-type="background">
		<div class="contain">
			<h2>some background</h2>
			<p>I've been designing for the web since 2006. I graduated St. John's University in 2010 where I learned web design principles. After various jobs in web design and building my knowledge of CSS, HTML and Javascript; I began to learn more and self teach. I work with <a href="http://ninjastack.com" target="_blank">NinjaStack</a> making applications and websites that are responsive to web, tablet and mobile built using NodeJS and AngularJS. I am currently self-learning Javascript for use in different MVC frameworks, in hopes of becomming an Object-oriented Programmer someday.</p>
			<a class="btn-mf btn" href="#third">show me  <i class="fa fa-arrow-down"></i></a>
		</div>
	</section>
	<!-- Section #3 / Photos -->
	<section id="third" class="story" data-speed="6" data-type="background" data-offsetY="250">
		<div class="contain">
			<h2>some recent work</h2>
      <p>more available upon request <i class="fa fa-smile-o"></i></p>
      <ul class="half-top work-list">
        <li><a target="_blank" href="http://ninjastack.com">ninjastack <i class="pull-right fa fa-external-link"></i></a> 
        <li><a target="_blank" href="http://colorof.com">color of <i class="pull-right fa fa-external-link"></i></a>
        <li><a target="_blank" href="http://mtndb.com">mtndb <i class="pull-right fa fa-external-link"></i></a>
          <li><a target="_blank" href="http://causio.herokuapp.com">causio <i class="pull-right fa fa-external-link"></i></a>
        <li><a target="_blank" href="http://exemplifi.org">exemplifi <i class="pull-right fa fa-external-link"></i></a>
        <li><a target="_blank" href="http://collegebattleofthebands.com">college battle of the bands <i class="pull-right fa fa-external-link"></i></a>
        <li><a target="_blank" href="http://campusdj.com">campusdj <i class="pull-right fa fa-external-link"></i></a>
        
        
      </ul>
		</div>
	</section>	
	

	<!-- Section #4 / HTML5 Video 
	<section id="fourth" class="story" data-speed="8" data-type="background" data-offsetY="250">
		<div class="contain">
			<h2><i class="icon-cogs"></i> What's this stuff made of?</h2>
			<p>I'm glad that you asked, I work on the front-end; rapid prototyping using nodeJS and angularJS and make all sorts of cool responsive applications for web, tablet and mobile with the help of my awesome team <a href="http://ninjastack.com">NinjaStack</a>. We work at the most badass coworking space on the planet called <a target="_blank" href="http://alleynyc.com/">@AlleyNYC</a>.</p>
				<a class="next great span5" href="#theend"><img src="/img/glasses.png"></a>
			</div>
	</section>	-->

	<!-- Section #5 / The End-->
	<section id="theend" class="story" data-speed="8" data-type="background" data-offsetY="250">    	
			<div class="byebye" data-type="sprite" data-offsetY="-1600" data-Xposition="50%" data-speed="-2"><h2 class="centered half-top"><a href="#first">Go back to the top</a> or <a href="mailto:m@ninjastack.com">contact me</a>.</h2></div>
	</section>
	
  </div> <!-- // End of #main -->
		<!-- View Container -->

		<div class="footer hide">
			<ul class="inline">
				<!-- Footer Links -->
				<li><small class="pull-left">Copyright <%= (new Date()).getFullYear() %> NinjaStack, Inc.</small></li>
			</ul>
		</div>
	</div>

  


	<!-- External Scripts -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" type="text/javascript" ></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js" type="text/javascript" ></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js" type="text/javascript" ></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js" type="text/javascript" ></script>
	<script type="text/javascript" src="/script/angular-resource.js"></script>

	<!-- NS Scripts -->
	<script type="text/javascript" src="/script/ns-services.js"></script>
	<script type="text/javascript" src="/script/ns-filters.js"></script>
	<script type="text/javascript" src="/script/ns-directives.js"></script>
	<script type="text/javascript" src="/script/ns-app.js"></script>
	<script src="/script/parallax.js"></script>

	<script type="text/javascript">
	$('a').click(function() {
		var elementClicked = $(this).attr("href");
		var destination = $(elementClicked).offset().top;
		$("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination-15}, 500 );
		return false;
	});
	var terms = ["designer", "developer", "coder", "entrepreneur", "application maker", "pioneer", "architect", "carpenter", "assembler", "facilitator", "genius", "ninja"];

	function rotateTerm() {
		var ct = $("#rotate").data("term") || 0;
		$("#rotate").data("term", ct == terms.length -1 ? 0 : ct + 1).text(terms[ct]).fadeIn()
		.delay(1000).fadeOut(100, rotateTerm);
	}
	$(rotateTerm);
	</script>
	<script>
	$('.popit').popover();
	$('.modal-pop').modal(options);
	</script>
</body>
</html>