<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="mikefortuna">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />  

	<title>mikefortuna</title>

	<!-- Styles -->
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/style/bootstrap-ns.css" />
	<link rel="stylesheet" type="text/css" href="/style/mf.css" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
</head>
<body ng-controller="TopCtrl">
	<div id="main" >
		<div class="header">
			<a class="home-logo pull-right" href="#first"> </a>
		</div>

		<div id="content" ngview> 

		<div class="footer hide">
			<ul class="inline">
				<!-- Footer Links -->
				<li><small class="pull-left">Copyright <%= (new Date()).getFullYear() %> NinjaStack, Inc.</small></li>
			</ul>
		</div>
	</div>

  <!-- Modal -->
  <div class="modal hide fade" id="exemplifiModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Exemplifi</h4>
        </div>
        <div class="modal-body">
        	<img src="/img/exemplifi2.png">
          <img src="/img/exemplifi1.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

   <!-- Modal -->
  <div class="modal hide fade" id="causioModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Causio</h4>
        </div>
        <div class="modal-body">
        	<img src="/img/causio2.png">
          <img src="/img/causio1.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


 <!-- Modal -->
  <div class="modal hide fade" id="ktchnModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Ktchn</h4>
        </div>
        <div class="modal-body">
          <img src="/img/ktchn1.png">
          <img src="/img/ktchn2.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


 <!-- Modal -->
  <div class="modal hide fade" id="uc3Modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Uncharted 3</h4>
        </div>
        <div class="modal-body">
          <img src="/img/UC3.jpg">
          <img src="/img/UC3a.png">
          <img src="/img/UC3b.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

 <!-- Modal -->
  <div class="modal hide fade" id="sharetunaModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Sharetuna</h4>
        </div>
        <div class="modal-body inline">
          <img src="/img/sharetuna.png">
          <img src="/img/sharetunaA.png">
          <img src="/img/sharetunaB.png">
          <img src="/img/sharetunaC.png">
         </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


	<!-- External Scripts -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" type="text/javascript" ></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js" type="text/javascript" ></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js" type="text/javascript" ></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js" type="text/javascript" ></script>
	<script type="text/javascript" src="/script/angular-resource.js"></script>

	<!-- NS Scripts -->
	<script type="text/javascript" src="/script/ns-services.js"></script>
	<script type="text/javascript" src="/script/ns-filters.js"></script>
	<script type="text/javascript" src="/script/ns-directives.js"></script>
	<script type="text/javascript" src="/script/ns-app.js"></script>
	<script src="/script/parallax.js"></script>

	<script type="text/javascript">
	$('a').click(function() {
		var elementClicked = $(this).attr("href");
		var destination = $(elementClicked).offset().top;
		$("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination-15}, 500 );
		return false;
	});
	</script>
	<script>
	$('.popit').popover();
	$('.modal-pop').modal(options);

	</script>
</body>
</html>