@import '../../core/grid';

h1 {
  font-size: 3.75rem;
  line-height: 1.2;
  span {
      font-weight: 900;
  }
  @include respond-to(medium) {
    font-size: 2.75rem;
  }
}
.blog-container {
  width: 80%;
  margin: 0 auto; 
  background: #111822;
  padding: 50px 20px;
  h2 {
    font-size: $large-2;
    line-height: $large-3;
  }
  p {
    font-size: $medium-2;
    line-height: $medium-3;
    margin-bottom: $medium-3;
  }
}