/**
--------------------------------------------------------

 Custom Helpers

-----------------------------------------------------  */

// Set Light Colors
.color-light,
%color-light {
  color: #fff;
  a,
  span,
  div {
    color: #fff;
  }
}
// Reset Active
.active,
%active {
  font-weight: inherit;
  font-color: inherit;
}
// Bold
.bold,
.strong,
%bold {
  font-weight: bold;
}
// Italic
.italicized,
.italic,
%italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
// Force Full-Width
.full-width,
%full-width {
  width: 100%;
  margin: 5px auto 0;
  a,
  span,
  div {
    width: 100%;
  }
}
// Hide Label
.hide-label {
  .label,
  label {
    display: none;
  }
}
// Prevent Scroll
.noscroll,
%noscroll {
  overflow: hidden;
}
// Hide Class
.hidden,
%hidden {
  display: none;
}

.align-center,
%align-center {
  @include display(flex);
  @include flex-flow(column);
  @include justify-content(center);
  @include align-items(center);
  @include align-content(center);
}
