<div class="container mf-spacer--padding-top-huge-4">
    <div class="row">
        <div class="column">
            <h1><span>Hi, I'm Mike</span>. A UX Engineer with focus on empowering creative designers and developers.
            </h1>
            <mat-chip-list aria-label="Fish selection">
                <mat-chip color="primary" selected>Code</mat-chip>
                <mat-chip color="accent" selected>Design</mat-chip>
            </mat-chip-list>
            <br>

            <ul class="cloud" role="navigation" aria-label="Webdev word cloud">
                <li><a href="#" data-weight="4">BEM</a></li>
                <li><a href="#" data-weight="2">Redux</a></li>
                <li><a href="#" data-weight="8">design systems</a></li>
                <li><a href="#" data-weight="7">color</a></li>
                <li><a href="#" data-weight="5">HTML</a></li>
                <li><a href="#" data-weight="7">components</a></li>
                <li><a href="#" data-weight="6">DX</a></li>
                <li><a href="#" data-weight="4">API</a></li>
                <li><a href="#" data-weight="5">CSSGrid</a></li>
                <li><a href="#" data-weight="6">material</a></li>
                <li><a href="#" data-weight="2">Rest</a></li>
                <li><a href="#" data-weight="8">UX UI</a></li>
                <li><a href="#" data-weight="9">Angular</a></li>
                <li><a href="#" data-weight="6">typescript</a></li>
                <li><a href="#" data-weight="7">ionic</a></li>
                <li><a href="#" data-weight="3">Animation</a></li>
                <li><a href="#" data-weight="7">type</a></li>
                <li><a href="#" data-weight="9">SCSS</a></li>
                <li><a href="#" data-weight="6">Flexbox</a></li>
                <li><a href="#" data-weight="9">Atomic</a></li>
                <li><a href="#" data-weight="2">RXJS</a></li>
                <li><a href="#" data-weight="3">nodeJS</a></li>
                <li><a href="#" data-weight="4">es6</a></li>
              </ul>
        </div>
    </div>



    <div class="row mf-spacer--padding-top-huge-4">
        <div class="column medium-12">
            <h2 class="mf-spacer--padding-top-huge-4">Some of my favorite tools that I use to create:</h2>
                <p>Angular <mat-chip color="primary" selected>Code</mat-chip></p>
                <mat-divider></mat-divider>
                
                <p>Sass <mat-chip color="primary" selected>Code</mat-chip></p>
                <mat-divider></mat-divider>
                <p>Figma <mat-chip color="accent" selected>Design</mat-chip></p>
        </div>
    </div>
</div>


