<div>
    <mat-toolbar [color]="dark ? 'primary' : 'dark-primary'">
        <div class="row" style="width: 100%;">
            <div class="column">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <!-- <span>m42</span> -->
            </div>
            <div class="column shrink align-right">
                <button (click)="email()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>mail</mat-icon>
                </button>
                <button (click)="flipIt()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>{{ dark ? 'dark_mode' : 'light_mode'}}</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>
    <div id="lamp" [class.dark]="dark">
        <div class="lamp"  style="transform:scale(2,2)">
        <div class="gonna-give-light"></div>
        </div>
    </div>
    <router-outlet></router-outlet>

    <div class="bg" [class.dark]="!dark">
        <div class="cloud"></div>
        <div class="mountain">
        <div class="mountain-top">
            <div class="mountain-cap-1"></div>
            <div class="mountain-cap-2"></div>
            <div class="mountain-cap-3"></div>
        </div>
        </div>
        <div class="mountain-two">
        <div class="mountain-top">
            <div class="mountain-cap-1"></div>
            <div class="mountain-cap-2"></div>
            <div class="mountain-cap-3"></div>
        </div>
        </div>
        <div class="mountain-three">
        <div class="mountain-top">
            <div class="mountain-cap-1"></div>
            <div class="mountain-cap-2"></div>
            <div class="mountain-cap-3"></div>
        </div>
        </div>
        
        <div class="cloud cloud-2"></div>
        <div class="mountain mountain-2">
            <div class="mountain-top-2">
                <div class="mountain-cap-4"></div>
                <div class="mountain-cap-5"></div>
                <div class="mountain-cap-6"></div>
            </div>
            </div>
            <div class="mountain-four">
            <div class="mountain-top-2">
                <div class="mountain-cap-4"></div>
                <div class="mountain-cap-5"></div>
                <div class="mountain-cap-6"></div>
            </div>
            </div>
            <div class="mountain-five">
            <div class="mountain-top-2">
                <div class="mountain-cap-4"></div>
                <div class="mountain-cap-5"></div>
                <div class="mountain-cap-6"></div>
            </div>
            </div>
    </div>
</div>