// MF Palette

$green-1: #72a15b;
$green-2: #5e804d;
$green-3: #547046;
$green-4: #4d6440;
$green-5: #465a3b;
$green-6: #405136;
$green-7: #3b4a32;

$pink-1: #d76ecd;
$pink-2: #a55d9d;
$pink-3: #905488;
$pink-4: #7e4d78;
$pink-5: #71466b;
$pink-6: #654060;
$pink-7: #5b3b57;

$blue-1: #818bf9;
$blue-2: #666fc7;
$blue-3: #5b63aa;
$blue-4: #535995;
$blue-5: #4b5182;
$blue-6: #444973;
$blue-7: #3f4367;


