@import './core/core';


@include generate-grid();
@include generate-spacer-classes();

// Colors
$bg-color: #7577FA;
$dot-color: #9192FB;

// Dimensions
$dot-size: 2px;
$dot-space: 22px;

html, body { height: 100%; }
body {
	background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}